/* this centers the heading Our Menu*/
h1 {
    text-align: center;
}
/*this applies styles to h2 in every section*/
.section h2 {
    float: right;
    display: block;
    margin: 0px;
    padding: 2px 30px 2px 30px;
    text-align: center;
    border: 1px solid black;
    position: relative;
    top: 0px;
    right: 0px;
}
/*from #section1-3, h2 background color is changed*/
#section1 h2 {
    background-color: yellow;
}

#section2 h2 {
    background-color: white;
}

#section3 h2 {
    background-color: gray;
}
/*sets section1-3 background colors */
#section1 {
    background-color: aqua;
}

#section2 {
    background-color: chartreuse;
}

#section3 {
    background-color: deeppink;
}
/*sets styles for width 992px or more*/
@media (min-width: 992px) {
    .section {
        width: 30%;
        margin: 1.6%;
        border: 1px solid black;
        float: left; 
        box-sizing: border-box;
    }

    .para {
        margin: 2px;
        padding: 40px 6px 6px 6px;
        text-align: justify;
    } 
}

/*sets styles for width between 768px and 991px*/
@media (min-width: 768px) and (max-width: 991px) {
    #section1, #section2 {
        float: left;
        width: 49%;
        margin: 0.5%;
        box-sizing: border-box;
    }
    
    #section3 {
        float: right;
        width: 99%;
        display: block;
        margin: 0.5%;
        box-sizing: border-box;

    }

    .para {
        margin: 2px;
        padding: 40px 6px 6px 6px;
        text-align: justify;
    } 
}

/*sets styles for width less than 767*/
@media (max-width: 767px) {
    .section {
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
    .para {
        margin: 2px;
        padding: 40px 6px 6px 6px;
        text-align: justify;
    } 
}